# 1. 배열 (Array)

- 데이터를 나열하고, 각 데이터를 **인덱스**에 대응하도록 구성한 데이터 구조
- 파이썬에서는 리스트 타입이 배열 기능을 제공하고 있음

<br>

## 1.1 배열이 필요한 이유

- **같은 종류**의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장

<br>

## 1.2 배열의 장점

- 빠른 접근 가능

<br>

## 1.3 배열의 단점

- 배열의 크기를 미리 설정해야 한다.
- 가변적인 데이터에 대해 추가 삭제가 쉽지 않다. (중간이 빌 경우 뒤에 데이터가 앞으로 당겨짐)
- 파이썬 리스트의 경우 일반적인 배열보다 많은 기능을 제공한다.

<br>

## 1.4 파이썬에서의 배열 사용

In [1]:
country = "US"
print(country)

US

In [2]:
country = country + "A" # 일반적인 배열은 파이썬의 리스트와 달리 길이를 미리 지정해야 한다.
print(country)

USA

<br>

### 1.4.1 1차원 배열

In [3]:
data = [1,2,3,4,5]
print(data)

[1, 2, 3, 4, 5]

<br>

### 1.4.2 2차원 배열

In [4]:
data = [[1,2,3],[4,5,6],[7,8,9]]
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
print(data[0][0])
print(data[0][1])
print(data[0][2])
print(data[1][0])

1
2
3
4

In [7]:
# 위의 2차원 배열에서 9, 8, 7 순서로 출력하기
print(data[2][2])
print(data[2][1])
print(data[2][0])

9
8
7

In [9]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [10]:
# 위의 dataset에서 "M"의 빈도수를 출력하기
m_cnt = 0

for data in dataset:
    for i in range(len(data)):
        if data[i] == "M":
             m_cnt += 1   
                
print(m_cnt)

38